.election-list-container {
  float: left;
  clear: both;
  margin-bottom: 5px;
  padding-left: 9px;
}

.election-list ul {
  margin: 0;
  list-style: none;
  display: inline-block;

  li {
    display: inline-block;
  }
}

#topic-title .election-status {
  .election-status-label {
    padding-top: 10px;
    padding-bottom: 5px;
  }

  span {
    padding: 6px 12px;
    background: dark-light-diff($primary, $secondary, 90%, -65%);
    margin-right: 10px;
  }
}

.election-post .election-controls {
  margin-top: 10px;

  .btn {
    margin-right: 10px;
  }

  .spinner-container {
    display: inline-block;
    vertical-align: middle;
  }
}

.election-list-controls {
  a {
    float: right;
  }
}

.create-election-modal .inline {
  display: inline-block;
}

.input-small {
  width: 50px;
}

.nomination-statement .reply-to {
  display: inline-block;
  vertical-align: middle;
}

.nomination-statement .reply-to + span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.statement-composer-label {
  margin-bottom: 10px;

  span {
    padding: 2px 4px;
    background: $secondary;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.92em;
  }
}

.statement-post-label {
  @extend a.mention;
  padding: 0 6px;
  font-weight: normal;
}

.election-post .cooked {

  .title {
    text-decoration: underline;
  }

  .nomination-list {
    margin-top: 15px;

    .nomination {
      padding-bottom: 15px;
    }
  }

  .nomination {
    border-bottom: none;

    &> span {
      display: flex;
    }
  }

  .nomination-user {
    padding: 0;
    margin-right: 15px;
    white-space: nowrap;
  }

  .nomination-user img {
    margin-right: 5px;
  }
}

.election-post .poll-container ul:not(.results) li {
  display: flex;
  margin: 0;
  padding: 15px;

  i {
    margin-top: 5px;
    padding-right: 10px;
  }
}

.avatar-flair.nominee {
  top: 14px;
  bottom: initial;

  .fa {
    color: $tertiary;
  }
}

.election-banner {
  text-align: center;
  padding: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid  dark-light-diff($primary, $secondary, 90%, -65%);
  border-radius: 4px;
  color: $secondary;
  transition: all .25s;
  box-shadow: 0 2px 4px -1px rgba(0,0,0, .25);

  &.election-nomination {
    background-color: $tertiary;

    &:hover {
      background-color: dark-light-diff($tertiary, $primary, 50%, -40%);
    }
  }

  &.election-poll {
    background-color: $success;

    &:hover {
      background-color: dark-light-diff($success, $primary, 50%, -40%);
    }
  }

  &.election-closed-poll {
    color: $primary;
    background-color: $highlight;

    &:hover {
      background-color: dark-light-diff($highlight, $primary, 50%, -40%);;
    }
  }
}
