.election-list-container {
  float: left;
  clear: both;
  margin-bottom: 5px;
  padding-left: 9px;
}

.election-list ul {
  margin: 0;
  list-style: none;
  display: inline-block;

  li {
    display: inline-block;
  }
}

#topic-title .election-status {
  padding-top: 15px;
  padding-bottom: 5px;

  span {
    padding: 6px 12px;
    background: dark-light-diff($primary, $secondary, 90%, -65%);
    margin-right: 10px;
  }
}

.election-controls {
  margin-top: 10px;

  .btn {
    margin-right: 10px;
  }

  .spinner-container {
    display: inline-block;
    vertical-align: middle;
  }
}

.election-list-controls {
  a {
    float: right;
  }
}

.create-election-modal .inline {
  display: inline-block;
}

.nomination-statement-label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;

  span {
    padding: 6px 12px;
    background: $secondary;
  }
}

.post-label {
  @extend a.mention;
  padding: 0 6px;
  font-weight: normal;
}

.election-post .cooked {

  .title {
    text-decoration: underline;
  }

  .nomination-list {
    margin-top: 15px;

    .nomination {
      padding-bottom: 15px;
    }
  }

  .nomination {
    border-bottom: none;

    &> span {
      display: flex;
    }
  }

  .nomination-user {
    padding: 0;
    margin-right: 15px;
    white-space: nowrap;
  }

  .nomination-user img {
    margin-right: 5px;
  }
}

.election-post .poll-container ul:not(.results) li {
  display: flex;
  margin: 0;
  padding: 15px;

  i {
    margin-top: 5px;
    padding-right: 10px;
  }
}

.avatar-flair.nominee {
  top: 14px;
  bottom: initial;

  .fa {
    color: $tertiary;
  }
}

.manage-election {
  .control-group {
    padding: 15px;
  }

  .ac-wrap {
    width: 490px !important;
    min-height: 60px;
    display: inline-block;
    vertical-align: middle;
  }

  .d-editor {
    width: 500px;
    display: inline-block;
  }

  .controls {
    float: right;
    width: 100px;
    text-align: center;

    .state {
      width: 30px;
      display: inline-block;
    }
  }
}
