.election-list-container {
  float: left;
  clear: both;
  margin-bottom: 5px;
  padding-left: 9px;
}

.election-list ul {
  margin: 0;
  list-style: none;
  display: inline-block;

  li {
    display: inline-block;
  }
}

#topic-title .election-status {
  padding-top: 15px;
  padding-bottom: 5px;

  span {
    padding: 6px 12px;
    background: dark-light-diff($primary, $secondary, 90%, -65%);
    margin-right: 10px;
  }
}

.election-controls {
  margin-top: 10px;

  .btn {
    margin-right: 10px;
  }

  .spinner-container {
    display: inline-block;
    vertical-align: middle;
  }
}

.election-list-controls {
  a {
    float: right;
  }
}

.create-election-modal .inline {
  display: inline-block;
}

.nomination-statement-label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;

  span {
    padding: 6px 12px;
    background: $secondary;
  }
}

.nominated {
  @extend a.mention;
  font-weight: normal;
}

.election-post .cooked {

  .title {
    text-decoration: underline;
  }

  .nomination-list {
    margin-top: 15px;
  }

  .nomination {
    border-bottom: none;
    display: inline-block;

    &> span {
      display: flex;
      padding-bottom: 15px;
    }
  }

  .nomination-user {
    padding: 0;
    margin-right: 15px;
    white-space: nowrap;
  }

  .nomination-user img {
    margin-right: 5px;
  }
}

.election-post .poll-container ul:not(.results) li {
  display: flex;

  i {
    margin-top: 5px;
    padding-right: 10px;
  }
}
