{{#if (if model.subtype 'election')}}
  <div>
    <label>{{i18n 'election.status.label'}}</label>
    {{combo-box content=electionStatuses value=buffered.election_status}}
  </div>
  <div>
    <label>{{i18n 'election.details_url.label'}}</label>
    {{input type="text" value=buffered.election_details_url placeholder=(i18n 'election.details_url.placeholder')}}
  </div>
{{/if}}
